{% extends "base.html" %}

{% block content %}
<h1>Register Form</h1>
<form action="" method="post">
     {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}
        {{ form.email(class="form-control", type="email") }} <br>
        {% for error in form.email.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }} <br>
        {% for error in form.password.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}
        {{ form.password_again(class="form-control", type="password") }} <br>
        {% for error in form.password_again.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.surname.label }}
        {{ form.surname(class="form-control") }} <br>
        {% for error in form.surname.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}
        {{ form.name(class="form-control") }} <br>
        {% for error in form.name.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.age.label }}
        {{ form.age(class="form-control") }} <br>
        {% for error in form.age.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.position.label }}
        {{ form.position(class="form-control") }} <br>
        {% for error in form.position.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.speciality.label }}
        {{ form.speciality(class="form-control") }} <br>
        {% for error in form.speciality.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.address.label }}
        {{ form.address(class="form-control") }} <br>
        {% for error in form.address.error %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.submit(type="submit", class="btn bnt-primary")}}
    </p>
    {{ message }}
</form>
{% endblock %}